.inquiry-card {
  padding-bottom: 40px;

  &-header {
    @include text-style(12);
    margin-bottom: 8px;

    .detail,
    .misc {
      @include flexbox(center, start);

      dd:not(:last-child),
      strong {
        &::after {
          margin: 0 4px;
          content: '|';
        }
      }
    }

    .detail {
      margin-bottom: 8px;
      color: $primary;

      dd {
        &.is-answered {
          color: $blue;
        }
      }
    }

    .misc {
      color: $tertiary;

      strong {
        font-weight: 400;
      }
    }
  }

  &-body {
    @include text-style(13);

    .inquiry-content {
      position: relative;
      padding-left: 20px;

      &:first-child:not(:last-child) {
        margin-bottom: 12px;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 700;
        color: $blue;
      }

      p {
        @include flexbox(center, start);
        color: $primary;

        i {
          @include text-style(16, $tertiary);
          margin-right: 8px;
        }
      }
    }

    .seller {
      @include flexbox(center, start);
      margin-bottom: 4px;

      strong {
        margin-right: 4px;
      }

      time {
        @include text-style(12, $tertiary);
      }
    }
  }

  @include responsive(T) {
    &-header {
      margin-bottom: 20px;
    }

    &-body {
      @include text-style(14);

      .inquiry-content {
        padding-left: 24px;

        &:first-child:not(:last-child) {
          margin-bottom: 16px;
        }

        span {
          @include text-style(16);
        }
      }

      .seller {
        margin-bottom: 8px;

        strong {
          @include text-style(16);
        }
      }
    }
  }
}
