// scss-lint:disable all
@font-face {
  font-family: 'tmorrow';
  src: url('./assets/fonts/tmorrow.eot');
  src: url('./assets/fonts/tmorrow.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/tmorrow.ttf') format('truetype'),
    url('./assets/fonts/tmorrow.woff') format('woff'),
    url('./assets/fonts/tmorrow.svg#tmorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tmorrow' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
